.icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-image: url(~sprite.png);
    background-size: 160px 122px;
  }
.icon-consultInactive { width: 35px; height: 30px; background-position: 0px -92px; }
.icon-homeActive { width: 27px; height: 27px; background-position: -104px -92px; }
.icon-homeInactive { width: 68px; height: 68px; background-position: -92px 0px; }
.icon-productActive { width: 72px; height: 72px; background-position: 0px 0px; }
.icon-productInactive { width: 29px; height: 29px; background-position: -55px -92px; }